@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.btn {
    padding: 14px 34px;
    border-radius: 8px;
    border: none;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    background: #FF5400;
}

/* Nav section style start here */

/* nav container style */
.nav-contain {
    width: 1170px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.nav-container {
    /* border: 2px solid red; */
    display: flex;
    min-width: 20px;
    width: 50%;
}

.nav-container img {
    position: relative;
    width: 75px;
    height: 55px;
    top: 13px;


}

.nav-container p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.span {
    color: blue;
    font-weight: 800;
}

/* nav item style */
.nav-item {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;

}

.nav-item a {
    text-decoration: none;

}

.nav-item li {
    list-style: none;
    font-size: 1.1rem;
}

/* Main section style start here */

/* section-1 style start here */
.section-1 {
    background-image: url('../Images/Group\ 13.png');
    height: 500px;
    width: 1170px;
    margin: 35px auto;
    border-radius: 15px;
}

.banner * {
    margin-top: 50px;
}

.banner-title {
    position: relative;
    top: 80px;

}

.banner-title h1,
p {
    text-align: center;
}

.banner-title h1 {
    font-size: 4rem;
    color: #FFF;
}

.banner-title p {
    position: relative;
    color: #FFF;
    bottom: 20px;
}

.input-container {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.428);
    position: relative;
    left: 180px;
    top: 119px;
}

.input-container input {
    border-radius: 8px;
    border: none;
    padding-left: 4px;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
}


/* Section-2 style start here */

.section-2 {
    height: 550px;
    width: 1170px;
    display: flex;
    margin: 100px auto;
    gap: 40px;
}

.section-2-item p {
    text-align: left;
}


.section-2-item h2 {
    font-size: 2.5rem;
}

.btn-1 {
    padding: 14px 34px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Section-3 style now start here */

.section-3 {
    width: 1170px;
    margin: 0 auto;
}


.section-3-title h2 {
    font-size: 2.5rem;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.grid-item-1 {
    grid-column: 1/span 6;
}

.grid-item-2 {
    grid-column: 7/span 6;
}

.grid-item-3 {
    grid-column: 1/span 4;
}

.grid-item-4 {
    grid-column: 5/span 5;
}

.grid-item-5 {
    grid-column: 10/span 3;
}

.grid-item-6 {
    grid-column: 1/span 5;
}

.grid-item-7 {
    grid-column: 6/span 7;
}

/* Section-4 style now start here */

.section-4 {
    width: 1170px;
    margin: 100px auto;
}

.section-4-content {
    display: flex;
    justify-content: space-between;

}

.section-4-content div {
    width: 43%;
    height: 230px;
    flex-shrink: 0;
    border-radius: 15px;
}

.section-4-content-1 {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.section-4-content-2 {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}


.section-4-content>div>p {
    text-align: left;
}

.section-4-content-3 {
    border: 2px solid greenyellow;
    width: 573px;
    height: 230px;
    flex-shrink: 0;
    margin: 24px auto;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.section-4-content-3 p {
    text-align: left;
}

.section-4-title {
    margin-bottom: 48px;
}

.section-4-title h2,
p {
    text-align: center;
    margin-bottom: 15px;
}

.section-4-title h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* section-5 style now start here */

.section-5 {
    width: 1170px;
    margin: 100px auto;
    display: flex;
    gap: 27px;
}

.section-5-form {
    width: 40%;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 10px 30px;
}

.section-5-form hr {
    width: auto;
}

.section-5-form h3 {
    color: #131318;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-5-form p {
    text-align: left;
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.input-1 {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    padding-left: 12px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    margin-top: 20px;
}

.input-2 {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    padding-left: 12px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 24px;
}

.btn-2 {
    width: 407px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.section-5-img {
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    width: 672px;
    height: 422px;
    flex-shrink: 0;
}

.img-box {
    width: 315px;
    height: 110px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    top: 243px;
    left: 350px;
}

.img-box * {
    text-align: center;
    color: #FFF;
}

.img-box h3 {
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 20px;

}

.img-box h2 {
    position: relative;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    bottom: 14px;
}

/* Footer section style start here */

.footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer p {
    position: relative;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    bottom: 20px;

}

.footer-title {
    position: relative;
    display: flex;
    padding-top: 110px;
    align-items: center;
    justify-content: center;

}

.span {}

.footer-title h2 {
    position: relative;
    font-size: 1.77rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 15px;


}

.footer-title img {
    width: 48px;
    height: 46.673px;
    flex-shrink: 0;
    justify-content: center;
}

/* footer icons styles */
.footer-icons {
    text-align: center;
    gap: 20px;
}


.footer-icons {
    margin-top: 20px;
}

.copyright {
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 50px auto;
}

hr {
    width: 870px;
    margin-top: 50px;
}




/* Responsive style */

@media screen and (max-width:576px) {

    /* section-2 responsive*/

    .section-2 {
        height: auto;
        width: 490px;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        margin: 15px auto;
        padding-left: 0px;

    }

    .section-2-item p {
        text-align: left;
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    /* section-3 responsive */

    .section-3 {
        width: 490px;
        margin: 0;
        padding-left: 0;
    }

    .section-3-title h2 {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section-3-title p {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .section-3-title {
        position: relative;
        padding: 0;
        width: 490px;
        left: 32px;
    }

    .img-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 490px;
        left: 33px;

    }

    .grid-item-1 {
        position: relative;
        height: 300px;
        object-fit: cover;
    }

    .grid-item-2 {
        height: 300px;
        object-fit: cover;

    }

    .grid-item-3 {
        height: 300px;
        object-fit: cover;
    }

    .grid-item-4 {
        height: 300px;
        object-fit: cover;
    }

    .grid-item-5 {
        height: 300px;
        object-fit: cover;
    }

    .grid-item-6 {
        height: 300px;
        object-fit: cover;
    }

    .grid-item-7 {
        height: 300px;
        object-fit: cover;
    }

    /* section-4 responsive */

    .section-4 {
        width: 490px;
        margin: 0;
        padding-left: 0;
    }

    .section-4-title {
        position: relative;
        padding: 0;
        width: 490px;
        left: 32px;
    }

    .section-4-title h2 {
        color: #131318;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 40px;
    }

    .section-4-title p {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .section-4-content {
        flex-direction: column;
        position: relative;
        /* left: 145px; */
    }

    .section-4-content div {
        position: relative;
        width: 88%;
        left: 30px;
        margin-bottom: 16px;
    }

    .section-4-content-3 {
        position: relative;
        width: 88%;
        left: 30px;
        bottom: 22px;
    }

    /* section-5 responsive */

    .section-5 {
        width: 490px;
        margin: 0;
        padding-left: 0;
        flex-direction: column;
    }

    .section-5-form {
        position: relative;
        width: 88%;
        border-radius: 15px;
        left: 32px;
        text-align: center;
    }

    .section-5-form h3 {
        color: #131318;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section-5-form p {
        color: #5A5A5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .section-5-img {
        position: relative;
        margin: 15px 32px;
        background-size: 490px 335px;
        background-repeat: no-repeat;
    }

    .img-box {
        position: relative;
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;
        left: 270px;
        top: 202px;
    }

    .img-box h3 {
        position: relative;
        color: #FFF;
        text-align: center;
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 15px;
    }

    .img-box h2 {
        position: relative;
        color: #FFF;
        font-size: 21.138px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        bottom: 4px;
    }

}